html {
  /* width: 1450px; */
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

img {
  padding-top: 0px;
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid black;
}

body {
  background-color: rgb(83, 83, 83);
}

.assignment_schedule {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.0rem;
  font-weight: normal;
  margin: 0 auto;
  color: white;
}

.note {
  max-width: 1200px;
  margin: 15% auto;
  padding: 20px;
}

.responsive {
  width: 100%;
  max-width: 900px;
  height: auto;
}
