html {
  /* width: 1450px; */
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

img {
  padding-top: 0px;
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid black;
}

body {
  background-color: black;
}

.responsive {
  width: 100%;
  max-width: 900px;
  height: auto;
}
