html {
  /* width: 1450px; */
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

img {
  padding-top: 0px;
  margin-bottom: 50px;
  margin-top: 15px;
}



body {
  height: 100vh;
  background-color: black;
  background-image: url(../images/kingdom-hall-stage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.responsive {
  width: 100%;
  max-width: 900px;
  height: auto;
}


