html {
 /* background-image: url(../images/paradise-fun.jpeg);
 background-size: 100%;
 background-repeat: no-repeat; */
}

/* .navbar {
  position: fixed;
} */

a {
  color: white;
}

a:hover {
  color: white;
  /* background-color: black; */
}

img {
  padding-top: 40px;
}

body {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-image: url("../images/kingdom-hall-stage.jpeg");
  background-repeat: no-repeat;
  background-color: gray;
  background-size: cover;
  background-position: center; 
}

.welcome {
  color: white;
  font-size: 4.0rem;
  text-align: center;
  border-bottom: 1px solid gray;
}



/* #water-video {
  position: fixed;
  right: -50;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
} */

.responsive {
  width: 100%;
  max-width: 1300px;
  height: auto;
}

.message {
  font-size: 1.3rem;
  max-width: 1100px;
  margin: 20px  auto;
  padding: 8px;
  border-radius: 8px;
  background-color: black;
  opacity: 0.7;
  color: white;
}

.container-fluid {
  max-width: 1275px;
  margin: 0 auto;
}

.container {
  max-width: 900px;
  display: flex;
  margin: 2rem auto;
}

.buttonz .btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5,
.btn-6,
.btn-7,
.btn-8 {
  color: black;
  font-size: 1.2rem;
  width: 170px;
  height: 170px;
  padding: px;
  margin: 20px 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 12px black;
  background-color: rgb(245, 245, 245);
  opacity: 0.8;
  /* background-color: linear-gradient(to right, red, blue); */
}

.buttons {
  margin: 0 auto;
}

/* .btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn-6, .btn-7, .btn-8 {
  padding: 8px 12px;
} */

@media only screen and (max-width: 700px) {
  .message {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .welcome {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .welcome {
    font-size: 1.5rem;
    text-align: center;
  }
}


